<!-- Add/Edit Scheme Modal -->
<div class="modal fade" id="schemeModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ editingScheme?.schemeId ? '✏️ Edit Scheme' : '➕ Add Scheme' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form #schemeForm="ngForm">
          <div class="row g-3">
            <div class="col-md-6">
              <label>Name</label>
              <input class="form-control" [(ngModel)]="form.schemeName" name="schemeName" required />
            </div>
            <div class="col-md-6">
              <label>Interest Rate (%)</label>
              <input type="number" class="form-control" [(ngModel)]="form.interestRate" name="interestRate" required />
            </div>
            <div class="col-md-6">
              <label>Min Amount</label>
              <input type="number" class="form-control" [(ngModel)]="form.minAmount" name="minAmount" required />
            </div>
            <div class="col-md-6">
              <label>Max Amount</label>
              <input type="number" class="form-control" [(ngModel)]="form.maxAmount" name="maxAmount" required />
            </div>
            <div class="col-md-6">
              <label>Tenure (Months)</label>
              <input type="number" class="form-control" [(ngModel)]="form.tenureMonths" name="tenureMonths" required />
            </div>
            <div class="col-md-6">
              <label>Eligibility</label>
              <textarea class="form-control" [(ngModel)]="form.eligibilityCriteria" name="eligibilityCriteria"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancel</button>
        <button class="btn btn-primary" (click)="saveScheme()" [disabled]="!form.schemeName">Save</button>
      </div>
    </div>
  </div>
</div>
