<div class="container py-4">
  <h3 class="mb-2 text-center fw-bold">📋 Apply for a Loan</h3>

  <form [formGroup]="loanForm" (ngSubmit)="submitApplication()" class=" p-4">
    <div class="mb-3">
      <label>Loan Scheme</label>
      <select formControlName="schemeId" class="form-select">
        <option *ngFor="let scheme of schemes" [value]="scheme.schemeId">
          {{ scheme.schemeName }} (₹{{ scheme.minAmount }}–₹{{ scheme.maxAmount }})
        </option>
      </select>
    </div>

    <div class="mb-3">
      <label>Requested Amount</label>
      <input type="number" formControlName="requestedAmount" class="form-control" />
    </div>

    <div class="mb-3">
  <label>Purpose of Loan</label>
  <select formControlName="purposeOfLoan" class="form-select" (change)="onPurposeChange($event)">
    <option value="" disabled selected>Select purpose</option>
    <option *ngFor="let option of loanPurposes" [value]="option">{{ option }}</option>
    <option value="Other">Other</option>
  </select>
</div>

<div class="mb-3" *ngIf="showCustomPurpose">
  <label>Specify Other Purpose</label>
  <input type="text" formControlName="customPurpose" class="form-control" />
</div>

    <div class="mb-3">
      <label>Employment Details</label>
      <input type="text" formControlName="employmentDetails" class="form-control" />
    </div>

    <div class="mb-3">
      <label>Submitted Documents</label>
      <input type="text" formControlName="submittedDocuments" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary w-100" [disabled]="loanForm.invalid || isSubmitting">
      {{ isSubmitting ? 'Submitting...' : 'Submit Application' }}
    </button>
  </form>
</div>